@model IMainAreaContent
@if(Model != null && Model.MainArea != null)
{
	<div class="main-area">
		@Html.PropertyFor(model => model.MainArea, new {ChildrenCssClass = "content-area-item", ChildrenCustomTagName = "li", CssClass = "content-area", CustomTag = "ul"})
	</div>
}