@model IRightAreaContent
@if(Model != null && Model.RightArea != null)
{
	<div class="col-md-3 right-area">
		@Html.PropertyFor(model => model.RightArea, new {ChildrenCssClass = "content-area-item", ChildrenCustomTagName = "li", CssClass = "content-area", CustomTag = "ul"})
	</div>
}