@model IViewModel
@if(Model.Layout.CultureNavigation.Count > 1)
{
	<ul class="culture-navigation">
		@foreach(var item in Model.Layout.CultureNavigation)
		{
			<li@(Html.Raw(item.Key.Equals(Model.Layout.Culture) ? " class=\"active\"" : string.Empty))>
				<svg class="icon" role="presentation">
					<use xlink:href="/Style/Icons/sprite.svg#globe"></use>
				</svg>
				<a href="@item.Value">
					@item.Key.NativeName
				</a>
			</li>
		}
	</ul>
}