@model INavigationNode
@if(Model != null)
{
	if(Model.Parent == null && Model.Include)
	{
		@:<ul>
	}
	if(Model.Include)
	{
		@:<li class="@(((Model.Active ? " active" : string.Empty) + (Model.ActiveAncestor ? " active-ancestor" : string.Empty)).Trim())">
		<a href="@Url.ContentUrl(Model.Content.ContentLink)">
			@Model.Text
			@if(!Model.Leaf || Model.Active)
			{
				<svg class="icon" role="presentation">
					<use xlink:href="/Style/Icons/sprite.svg#@(Model.Active ? "arrow-right" : Model.ActiveAncestor ? "chevron-down" : "chevron-up")"></use>
				</svg>
			}
		</a>
	}
	if(Model.Children.Any())
	{
		<ul>
			@foreach(var child in Model.Children)
			{
				@Html.Partial("~/Views/Shared/Parts/Navigation/SubNavigation.cshtml", child)
			}
		</ul>
	}
	if(Model.Include)
	{
		@:</li>
	}
	if(Model.Parent == null && Model.Include)
	{
		@:</ul>
	}
}