<footer class="footer text-center bg-color-blue">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-6">
				<div class="container">
					<ul class="listSocial row justify-content-center align-items-center">
						<li class="listSocial__item col-auto">
							<a href="#" class="listSocial__link">
								<svg class="icon -instagram" role="presentation">
									<use xlink:href="/Style/Icons/sprite.svg#instagram" />
								</svg>
							</a>
						</li>
						<li class="listSocial__item col-auto">
							<a href="#" class="listSocial__link">
								<svg class="icon -facebook" role="presentation">
									<use xlink:href="/Style/Icons/sprite.svg#facebook" />
								</svg>
							</a>
						</li>
						<li class="listSocial__item col-auto">
							<a href="#" class="listSocial__link">
								<svg class="icon -youtube" role="presentation">
									<use xlink:href="/Style/Icons/sprite.svg#youtube" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
				<p>
					Nära Cancer är ett webbstöd för unga närstående till cancersjuka.
					Verksamheten drivs av Region Örebro län och Regionalt
					cancercentrum Uppsala Örebro.
				</p>
			</div>
		</div>
		<ul class="row justify-content-center align-items-center">
			<li class="col-sm col-md-auto footer__img">
				<a href="#">
					<img alt="Logo av Regionalt Cancercentrum Uppsala Örebro" class="img-fluid" height="51" src="/Style/Images/regionalt-cancercentrum-uppsala-orebro.png" width="175" />
				</a>
			</li>
			<li class="col-sm col-md-auto footer__img">
				<a href="#">
					<img alt="Logo av Region Örebro Län Universitetssjukhuset Örebro" class="img-fluid" height="32" src="/Style/Images/region-orebro-lan-universitetssjukhuset-orebro.png" width="230" />
				</a>
			</li>
		</ul>
	</div>
</footer>