@page
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment HostingEnvironment
@model PageModel
<div class="text-center">
	@foreach (var file in HostingEnvironment.ContentRootFileProvider.GetDirectoryContents("Style/Icons/"))
	{
		var name = file.Name.Replace(".svg", string.Empty);
		<div>
			<svg class="icon -@name" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#@name" />
			</svg>
		</div>
	}
</div>