@page
@{
	this.ViewData["At-Home"] = true;
	this.ViewData["Description"] = "Startsida - beskrivning";
	this.ViewData["Keywords"] = "Startsida, nyckelord";
	this.ViewData["Title"] = "Startsida";
}
<main id="main">
	<section class="hero-image">
		<img src="//placehold.it/1280x430" alt="" />
	</section>
	<section class="section -intro text-center js-shapeTrigger">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-md-8">
					<h1 class="title -h1" data-aos="fade">
						Välkommen till Nära&nbsp;Cancer!
					</h1>
					<p class="section-text" data-aos="fade" data-aos-delay="150">
						Nära Cancer finns här för dig som är ung och står nära någon som
						har cancer, eller saknar någon som har dött av sjukdomen. Här
						kan du möta andra i liknande situation och ställa frågor till
						sjukvårdspersonal. Du kan också lära dig mer om cancer – och
						allt runtomkring. Vi är starkare tillsammans!
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="container-fluid pl-0 pr-0">
		<div class="row no-gutters">
			<div class="col-sm-6 col-md-4 d-flex align-items-stretch">
				<div class="puff bg-color-blue2">
					<div class="puff-icon-container"
						 data-aos="zoom-in"
						 data-aos-easing="ease-out-back"
						 data-aos-duration="800">
						<svg class="icon -heart puff-icon" role="presentation">
							<use xlink:href="/Style/Icons/sprite.svg#heart" />
						</svg>
					</div>
					<h2 class="puff-title"><strong>Livet</strong> nära cancer</h2>
					<p class="puff-text">
						Vi har samlat massor av tips, tricks och berättelser som du
						kanske känner igen dig i och som kan hjälpa dig lite när allt
						känns svårt.
					</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4 d-flex align-items-stretch">
				<div class="puff bg-color-pink">
					<div class="puff-icon-container"
						 data-aos-delay="350"
						 data-aos="zoom-in"
						 data-aos-easing="ease-out-back"
						 data-aos-duration="800">
						<svg class="icon -speech-bubble puff-icon" role="presentation">
							<use xlink:href="/Style/Icons/sprite.svg#speech-bubble" />
						</svg>
					</div>
					<h2 class="puff-title"><strong>Prata</strong> med någon</h2>
					<p class="puff-text">
						När nån du älskar får cancer kanske du känner dig alldeles
						ensam, men det finns många unga som är med om samma sak som du.
						Dela dina tankar i forumet, chatta eller ställ frågor!
					</p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 d-flex align-items-stretch">
				<div class="puff bg-color-green">
					<div class="puff-icon-container"
						 data-aos="zoom-in"
						 data-aos-easing="ease-out-back"
						 data-aos-delay="700"
						 data-aos-duration="800">
						<svg class="icon -question-mark puff-icon" role="presentation">
							<use xlink:href="/Style/Icons/sprite.svg#question-mark" />
						</svg>
					</div>
					<h2 class="puff-title"><strong>Fakta</strong> om cancer</h2>
					<p class="puff-text">
						Att skaffa sig kunskap är bättre än att fantisera. Ju mer man
						vet, desto större kontroll kan man känna över situationen. Och
						har man koll känner man sig oftast lite lugnare.
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section js-shapeTrigger">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 d-flex align-items-stretch">
					<article class="card -big">
						<div class="card-img-top">
							<img src="//placehold.it/500x333"
								 alt="Card image cap" />
						</div>
						<div class="card-body">
							<h3 class="card-title">
								Kan jag vara ledig från skolan eller jobbet för att ta hand
								om min förälder?
							</h3>
							<div class="card-action">
								<a href="#" class="btn btn-secondary -white">
									Läs mer
									<svg class="icon -arrow-right" role="presentation">
										<use xlink:href="/Style/Icons/sprite.svg#arrow-right" />
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-sm-6 d-flex align-items-stretch">
					<article class="card -big">
						<div class="card-img-top">
							<img src="//placehold.it/500x233"
								 alt="Card image cap" />
						</div>
						<div class="card-body">
							<h3 class="card-title">
								Varför får man cancer – och kan man undvika det?
							</h3>
							<div class="card-action">
								<a href="#" class="btn btn-secondary -white">
									Läs mer
									<svg class="icon -arrow-right" role="presentation">
										<use xlink:href="/Style/Icons/sprite.svg#arrow-right" />
									</svg>
								</a>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<section class="blockquote-container text-center bg-color-pink">
		<div class="container">
			<div class="blockquote-carousel">
				<button class="blockquote-carousel-controls" aria-label="">
					<svg class="icon -greater-than" role="presentation">
						<use xlink:href="/Style/Icons/sprite.svg#greater-than" />
					</svg>
				</button>
				<blockquote class="blockquote">
					<p>
						Hej! Jag undrar om jag riskerar att få bröstcancer, eller cancer
						överhuvudtaget, eftersom min mormor hade det.
					</p>
				</blockquote>
				<button class="blockquote-carousel-controls" aria-label="">
					<svg class="icon -lesser-than" role="presentation">
						<use xlink:href="/Style/Icons/sprite.svg#lesser-than" />
					</svg>
				</button>
			</div>
			<a href="#" class="btn btn-secondary -white">
				Skriv i vårt forum du också
				<svg class="icon -arrow-right" role="presentation">
					<use xlink:href="/Style/Icons/sprite.svg#arrow-right" />
				</svg>
			</a>
		</div>
	</section>
	<section class="section -cards container js-shapeTrigger">
		<div class="row">
			<div class="col">
				<h2 class="title -h2">
					Här är fler artiklar du kanske är intresserad av
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<article class="card">
					<a href="#" class="card-link">
						<div class="card-img-container">
							<img src="//placehold.it/1280x430"
								 class="card-img-top"
								 alt="Responsive image" />
						</div>
						<div class="card-body">
							<h3 class="card-title">
								Hur går egentligen en begravning till? Vi berättar.
							</h3>
							<div class="card-action">
								<button class="btn btn-secondary -white" tabindex="-1">
									Läs mer
									<svg class="icon -arrow-right" role="presentation">
										<use xlink:href="/Style/Icons/sprite.svg#arrow-right" />
									</svg>
								</button>
							</div>
						</div>
					</a>
				</article>
			</div>
		</div>
		<div class="row text-center pt-3 pt-md-5">
			<div class="col pt-md-1">
				<button type="button" class="btn btn-primary">
					Läs in fler artiklar
				</button>
			</div>
		</div>
	</section>
	<section class="section -showcase bg-color-yellow js-shapeTrigger">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-8 col-md-12">
					<article class="showcase">
						<div class="showcase-article">
							<p>
								Ju fler som känner till att Nära Cancer finns, desto fler
								kan få stöd om det behövs. Därför finns vi där ni finns för
								att sprida kunskap och gemenskap. Vi heter @@naracancer på
								Facebook och Instagram.
							</p>
						</div>
						<a href="#" class="showcase-media">
							<video autoplay muted loop>
								<source src="//sample-videos.com/video123/mp4/480/big_buck_bunny_480p_1mb.mp4" type="video/mp4" />
								Your browser does not support the video tag.
							</video>
						</a>
					</article>
				</div>
			</div>
		</div>
	</section>
</main>