<RuleSet Name="Rules" ToolsVersion="15.0">
	<Include Action="Default" Path="..\..\.Global\CodeAnalysis\All-Rules-As-Error.ruleset" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1014" Action="None" />
		<Rule Id="CA1707" Action="None" />
	</Rules>
	<Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
		<Rule Id="IDE0008" Action="None" />
		<Rule Id="IDE0009" Action="None" />
		<Rule Id="IDE0011" Action="None" />
	</Rules>
</RuleSet>