<connectionStrings>
	<clear />
	<add name="ContentProvider" connectionString="entryPoint=6;name=Sample;setting=MySetting;type=MyCompany.MyWebApplication.Business.ContentProviders.SampleContentProvider, MyCompany.MyWebApplication" providerName="EPiServer.Core.ContentProvider" />
	<add name="EPiServerDB" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|EPiServer.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	<add name="Extensions" connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFileName=|DataDirectory|Extensions.mdf;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>