<Signature xmlns="http://www.w3.org/2000/09/xmldsig#" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<SignedInfo xdt:Transform="Insert">
		<CanonicalizationMethod Algorithm="" />
		<SignatureMethod Algorithm="" />
		<Reference URI="">
			<DigestMethod Algorithm="" />
			<DigestValue></DigestValue>
		</Reference>
	</SignedInfo>
	<SignatureValue xdt:Transform="Insert"></SignatureValue>
	<KeyInfo xdt:Transform="Insert">
		<KeyValue>
			<RSAKeyValue>
				<Modulus></Modulus>
				<Exponent></Exponent>
			</RSAKeyValue>
		</KeyValue>
	</KeyInfo>
	<Object Id="Licensing" xdt:Transform="Insert">
		<License Name="EPiServer" xmlns="">
			<MetaData>
				<LicensedTo></LicensedTo>
				<LicensedCompany></LicensedCompany>
				<LicenseNumber></LicenseNumber>
				<LicenseRevision></LicenseRevision>
				<LicenseType></LicenseType>
				<LicenseCreated></LicenseCreated>
			</MetaData>
			<Restrictions>
				<Restriction>
					<VersionRestriction Type="" />
				</Restriction>
				<Restriction>
					<IPRestriction Type="" />
				</Restriction>
			</Restrictions>
		</License>
		<License Name="EPiServerRelate+" xmlns="">
			<MetaData>
				<LicenseType></LicenseType>
				<LicenseNumber></LicenseNumber>
			</MetaData>
			<Restrictions>
				<Restriction>
					<VersionRestriction Type="" />
				</Restriction>
				<Restriction>
					<IPRestriction Type="" />
				</Restriction>
			</Restrictions>
		</License>
		<License Name="EPiServer Commerce" xmlns="">
			<MetaData>
				<LicenseType></LicenseType>
				<LicenseNumber></LicenseNumber>
			</MetaData>
			<Restrictions>
				<Restriction>
					<VersionRestriction Type="" />
				</Restriction>
				<Restriction>
					<IPRestriction Type="" />
				</Restriction>
			</Restrictions>
		</License>
		<License Name="ConnectForCrm" xmlns="">
			<MetaData>
				<LicenseType></LicenseType>
				<LicenseNumber></LicenseNumber>
			</MetaData>
			<Restrictions>
				<Restriction>
					<VersionRestriction Type="" />
				</Restriction>
				<Restriction>
					<IPRestriction Type="" />
				</Restriction>
			</Restrictions>
		</License>
		<License Name="ConnectForSharePoint" xmlns="">
			<MetaData>
				<LicenseType></LicenseType>
				<LicenseNumber></LicenseNumber>
			</MetaData>
			<Restrictions>
				<Restriction>
					<VersionRestriction Type="" />
				</Restriction>
				<Restriction>
					<IPRestriction Type="" />
				</Restriction>
			</Restrictions>
		</License>
	</Object>
</Signature>