<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appender name="ErrorFileAppender" xdt:Locator="Match(name)">
		<file value="..\Application-Data\Logs\Errors.log" xdt:Transform="SetAttributes(value)" />
	</appender>
	<appender name="InfoFileAppender" xdt:Locator="Match(name)">
		<file value="..\Application-Data\Logs\Info.log" xdt:Transform="SetAttributes(value)" />
	</appender>
	<appender name="WarningFileAppender" xdt:Locator="Match(name)">
		<file value="..\Application-Data\Logs\Warnings.log" xdt:Transform="SetAttributes(value)" />
	</appender>
</log4net>