<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Web.Release.config" value="Web.Release.config" xdt:Transform="Insert" />
	</appSettings>
	<connectionStrings xdt:Transform="Replace">
		<clear />
		<add name="EPiServerDB" connectionString="Server=DATABASE-SERVER;Database=MyCompany.MyWebApplication;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
		<add name="Extensions" connectionString="Server=DATABASE-SERVER;Database=MyCompany.MyWebApplication-Extensions;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<episerver.framework>
		<appData basePath="..\Application-Data" xdt:Transform="SetAttributes(basePath)" />
	</episerver.framework>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>