<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Web.Stage-Edit.config" value="Web.Stage-Edit.config" xdt:Transform="Insert" />
	</appSettings>
	<connectionStrings>
		<add name="EPiServerDB" connectionString="Server=NON-PRODUCTION-DATABASE-SERVER;Database=MyCompany.MyWebApplication-Stage;Integrated Security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
		<add name="Extensions" connectionString="Server=NON-PRODUCTION-DATABASE-SERVER;Database=MyCompany.MyWebApplication-Extensions-Stage;Integrated Security=True;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
	</connectionStrings>
</configuration>