<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" requirePermission="false" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="episerver" type="EPiServer.Configuration.EPiServerSection, EPiServer.Configuration" />
		<section name="episerver.framework" restartOnExternalChanges="true" type="EPiServer.Framework.Configuration.EPiServerFrameworkSection, EPiServer.Framework.AspNet" />
		<section name="episerver.search" type="EPiServer.Search.Configuration.SearchSection, EPiServer.Search.Cms" />
		<section name="episerver.search.indexingservice" type="EPiServer.Search.IndexingService.Configuration.IndexingServiceSection, EPiServer.Search.IndexingService" />
		<section name="episerver.shell" type="EPiServer.Shell.Configuration.EPiServerShellSection, EPiServer.Shell" />
	</configSections>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="EnableBundleOptimizations" value="false" />
		<add key="Recaptcha-SecretKey" value="6Leeb44UAAAAAPyZRC0pF0KJ4Oze4DSpiNn1y2ag" />
		<add key="Recaptcha-SiteKey" value="6Leeb44UAAAAALmNP4AYgKGr1manwm_X_yewlh-Q" />
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="Web.config" value="Web.config" />
	</appSettings>
	<connectionStrings configSource="Connections.config" />
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<episerver>
		<applicationSettings
			httpCacheability="Public"
			pageValidateTemplate="false"
			uiShowGlobalizationUserInterface="true"
			uiUrl="~/EPiServer/CMS/"
			urlRebaseKind="ToRootRelative"
		/>
	</episerver>
	<episerver.framework createDatabaseSchema="true" updateDatabaseSchema="true">
		<appData basePath="App_Data" />
		<blob defaultProvider="sqlBlobProvider">
			<providers>
				<add name="sqlBlobProvider" type="EPiCode.SqlBlobProvider.SqlBlobProvider, EPiCode.SqlBlobProvider" />
			</providers>
		</blob>
		<geolocation defaultProvider="MaxMind">
			<providers>
				<add name="MaxMind" databaseFileName="[appDataPath]\GeoLiteCity.dat" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" />
			</providers>
		</geolocation>
		<localization fallbackBehavior="Echo, MissingMessage, FallbackCulture" fallbackCulture="en">
			<providers>
				<add name="Translations" type="EPiServer.Framework.Localization.XmlResources.FileXmlLocalizationProvider, EPiServer.Framework.AspNet" virtualPath="~/Resources/" />
			</providers>
		</localization>
		<scanAssembly forceBinFolderScan="true">
			<add assembly="EPiServer" />
			<add assembly="EPiServer.ApplicationModules" />
			<add assembly="EPiServer.Cms.AspNet" />
			<add assembly="EPiServer.Cms.Shell.UI" />
			<add assembly="EPiServer.Cms.TinyMce" />
			<add assembly="EPiServer.Cms.UI.AspNetIdentity" />
			<add assembly="EPiServer.Data" />
			<add assembly="EPiServer.Enterprise" />
			<add assembly="EPiServer.Events" />
			<add assembly="EPiServer.Forms" />
			<add assembly="EPiServer.Forms.Core" />
			<add assembly="EPiServer.Forms.UI" />
			<add assembly="EPiServer.Framework" />
			<add assembly="EPiServer.Framework.AspNet" />
			<add assembly="EPiServer.LinkAnalyzer" />
			<add assembly="EPiServer.Search.Cms" />
			<add assembly="EPiServer.ServiceLocation.StructureMap" />
			<add assembly="EPiServer.Shell" />
			<add assembly="EPiServer.Shell.UI" />
			<add assembly="EPiServer.UI" />
			<add assembly="MyCompany.MyWebApplication" />
			<add assembly="RegionOrebroLan.EPiServer" />
			<add assembly="RegionOrebroLan.EPiServer.Initialization" />
		</scanAssembly>
		<virtualPathProviders>
			<clear />
			<add
				name="ProtectedModules"
				physicalPath="Modules\_Protected"
				type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework.AspNet"
				virtualPath="~/EPiServer/"
			/>
		</virtualPathProviders>
		<virtualRoles addClaims="true">
			<providers>
				<add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
				<add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
				<add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
				<add
					name="CmsAdmins"
					mode="Any"
					roles="WebAdmins, Administrators"
					type="EPiServer.Security.MappedRole, EPiServer.Framework"
				/>
				<add
					name="CmsEditors"
					mode="Any"
					roles="WebEditors"
					type="EPiServer.Security.MappedRole, EPiServer.Framework"
				/>
				<add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
				<add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
			</providers>
		</virtualRoles>
	</episerver.framework>
	<episerver.search active="true">
		<namedIndexingServices defaultService="IndexingService">
			<services>
				<add name="IndexingService" accessKey="Local" baseUri="https://localhost:44377/Services/IndexingService.svc" />
			</services>
		</namedIndexingServices>
		<searchResultFilter defaultInclude="true">
			<providers />
		</searchResultFilter>
	</episerver.search>
	<episerver.search.indexingservice>
		<clients>
			<add
				name="Local"
				allowLocal="true"
				description="Local client."
				readonly="false"
			/>
		</clients>
		<namedIndexes defaultIndex="Default">
			<indexes>
				<add name="Default" directoryPath="[appDataPath]\Index" readonly="false" />
			</indexes>
		</namedIndexes>
	</episerver.search.indexingservice>
	<episerver.shell>
		<protectedModules rootPath="~/EPiServer/">
			<add name="CMS" />
			<add name="EPiServer.Cms.TinyMce" />
			<add name="EPiServer.Forms" />
			<add name="EPiServer.Forms.UI" />
			<add name="EPiServer.Search.Cms" />
			<add name="Shell" />
		</protectedModules>
		<publicModules autoDiscovery="Modules" rootPath="~/Modules/" />
	</episerver.shell>
	<location path="EPiServer">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<httpRuntime maxRequestLength="1000000" requestValidationMode="2.0" />
			<pages
				enableEventValidation="true"
				enableSessionState="true"
				enableViewState="true"
				enableViewStateMac="true"
			>
				<controls>
					<add assembly="EPiServer.Cms.AspNet" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="svc-Integrated-4.0"
					path="*.svc"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="*"
				/>
				<add
					name="wildcard"
					path="*"
					type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet"
					verb="*"
				/>
			</handlers>
		</system.webServer>
	</location>
	<location path="EPiServer/CMS/Admin">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Modules/_Protected">
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="BlockDirectAccessToProtectedModules"
					path="*"
					preCondition="integratedMode"
					type="System.Web.HttpNotFoundHandler"
					verb="*"
				/>
			</handlers>
			<validation validateIntegratedModeConfiguration="false" />
		</system.webServer>
	</location>
	<location path="ModulesBin">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Services">
		<system.web>
			<authorization>
				<deny users="?" />
			</authorization>
		</system.web>
	</location>
	<location path="Services/IndexingService.svc">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
			<httpRuntime maxQueryStringLength="65536" />
		</system.web>
		<system.webServer>
			<security>
				<requestFiltering>
					<requestLimits maxQueryString="65536" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<location path="Util">
		<system.web>
			<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
			<pages enableEventValidation="true">
				<controls>
					<add assembly="EPiServer.Cms.AspNet" namespace="EPiServer.ClientScript.WebControls" tagPrefix="EPiServerScript" />
					<add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
				</controls>
			</pages>
		</system.web>
		<system.webServer>
			<handlers>
				<clear />
				<add
					name="AssemblyResourceLoader-Integrated-4.0"
					path="WebResource.axd"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Handlers.AssemblyResourceLoader"
					verb="GET,DEBUG"
				/>
				<add
					name="PageHandlerFactory-Integrated-4.0"
					path="*.aspx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.PageHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="SimpleHandlerFactory-Integrated-4.0"
					path="*.ashx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.UI.SimpleHandlerFactory"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="WebServiceHandlerFactory-Integrated-4.0"
					path="*.asmx"
					preCondition="integratedMode,runtimeVersionv4.0"
					type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					verb="GET,HEAD,POST,DEBUG"
				/>
				<add
					name="wildcard"
					path="*"
					type="EPiServer.Web.StaticFileHandler, EPiServer.Framework.AspNet"
					verb="*"
				/>
			</handlers>
		</system.webServer>
	</location>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" culture="neutral" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect newVersion="3.5.0.2" oldVersion="0.0.0.0-3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.AddOns.Helpers" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="0.4.0.0" oldVersion="0.0.0.0-0.4.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ApplicationModules" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Cms.AspNet" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Cms.Shell.UI" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.21.7.0" oldVersion="0.0.0.0-11.21.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Cms.TinyMce" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="2.8.1.0" oldVersion="0.0.0.0-2.8.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Cms.UI.AspNetIdentity" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.21.7.0" oldVersion="0.0.0.0-11.21.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Configuration" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Data.Cache" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Enterprise" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Events" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Framework.AspNet" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ImageLibrary" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Licensing" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.LinkAnalyzer" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Logging.Log4Net" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="2.2.2.0" oldVersion="0.0.0.0-2.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Search.Cms" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="9.0.3.0" oldVersion="0.0.0.0-9.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Search.IndexingService" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="9.0.3.0" oldVersion="0.0.0.0-9.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.ServiceLocation.StructureMap" culture="neutral" publicKeyToken="null" />
				<bindingRedirect newVersion="2.0.2.0" oldVersion="0.0.0.0-2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Shell" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.21.7.0" oldVersion="0.0.0.0-11.21.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Shell.UI" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.21.7.0" oldVersion="0.0.0.0-11.21.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.UI" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.21.7.0" oldVersion="0.0.0.0-11.21.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EPiServer.Web.WebControls" culture="neutral" publicKeyToken="8fe83dea738b45b7" />
				<bindingRedirect newVersion="11.13.1.0" oldVersion="0.0.0.0-11.13.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Host.SystemWeb" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect newVersion="11.0.0.0" oldVersion="0.0.0.0-11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RegionOrebroLan" culture="neutral" publicKeyToken="520b099ae7bbdead" />
				<bindingRedirect newVersion="1.0.6.0" oldVersion="0.0.0.0-1.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RegionOrebroLan.Data" culture="neutral" publicKeyToken="520b099ae7bbdead" />
				<bindingRedirect newVersion="1.1.0.0" oldVersion="0.0.0.0-1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Concurrent" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.1.0" oldVersion="0.0.0.0-4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.EventBasedAsync" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Configuration.ConfigurationManager" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect newVersion="4.0.2.0" oldVersion="0.0.0.0-4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.Common" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlClient" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect newVersion="4.6.0.0" oldVersion="0.0.0.0-4.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Contracts" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Debug" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.StackTrace" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.0.0" oldVersion="0.0.0.0-4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tools" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.Tracing" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Dynamic.Runtime" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Globalization.Extensions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.0.0" oldVersion="0.0.0.0-4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Abstractions" culture="neutral" publicKeyToken="96bf224d23c43e59" />
				<bindingRedirect newVersion="7.0.0.0" oldVersion="0.0.0.0-7.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IO.Compression" culture="neutral" publicKeyToken="B77A5C561934E089" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq.Expressions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq.Parallel" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Linq.Queryable" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.NetworkInformation" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Primitives" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Requests" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Sockets" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ObjectModel" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Extensions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reflection.Primitives" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Resources.ResourceManager" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Extensions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.2.0" oldVersion="0.0.0.0-4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.2.0" oldVersion="0.0.0.0-4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Numerics" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Json" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Primitives" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.2.0.0" oldVersion="0.0.0.0-4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.Serialization.Xml" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.3.0" oldVersion="0.0.0.0-4.1.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.Algorithms" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.3.0.0" oldVersion="0.0.0.0-4.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Principal" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.SecureString" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.0.0" oldVersion="0.0.0.0-4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.Extensions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.RegularExpressions" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.1.0" oldVersion="0.0.0.0-4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Overlapped" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.0.0" oldVersion="0.0.0.0-4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Parallel" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Timer" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.1.0" oldVersion="0.0.0.0-4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" culture="neutral" publicKeyToken="cc7b13ffcd2ddd51" />
				<bindingRedirect newVersion="4.0.3.0" oldVersion="0.0.0.0-4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="1.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="5.2.7.0" oldVersion="0.0.0.0-5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="3.0.0.0" oldVersion="1.0.0.0-3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.ReaderWriter" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.1.0" oldVersion="0.0.0.0-4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XDocument" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XmlSerializer" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.0.11.0" oldVersion="0.0.0.0-4.0.11.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Xml.XPath.XDocument" culture="neutral" publicKeyToken="B03F5F7F11D50A3A" />
				<bindingRedirect newVersion="4.1.0.0" oldVersion="0.0.0.0-4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect newVersion="1.6.5135.21930" oldVersion="0.0.0.0-1.6.5135.21930" />
			</dependentAssembly>
			<probing privatePath="ModulesBin" />
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding
					name="IndexingServiceCustomBinding"
					maxBufferPoolSize="1073741824"
					maxBufferSize="2147483647"
					maxReceivedMessageSize="2147483647"
				>
					<readerQuotas maxStringContentLength="10000000" />
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" />
					</security>
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<system.web>
		<authentication mode="None" />
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add
						name="ClientResourceCache"
						duration="3600"
						enabled="true"
						varyByContentEncoding="gzip;deflate"
						varyByParam="*"
					/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
		<compilation debug="true" targetFramework="4.6.2" />
		<globalization
			culture="sv-SE"
			requestEncoding="utf-8"
			resourceProviderFactoryType="EPiServer.Framework.Localization.LocalizationServiceResourceProviderFactory, EPiServer.Framework.AspNet"
			responseEncoding="utf-8"
			uiCulture="sv"
		/>
		<httpRuntime requestValidationMode="2.0" targetFramework="4.6.2" />
		<membership>
			<providers>
				<clear />
			</providers>
		</membership>
		<pages enableEventValidation="true" pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validateRequest="false">
			<controls>
				<add assembly="EPiServer.Cms.AspNet" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer.Framework.AspNet" namespace="EPiServer.Framework.Web.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer.Search.Cms" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
				<add assembly="EPiServer.Web.WebControls" namespace="EPiServer.Web.WebControls" tagPrefix="EPiServer" />
			</controls>
			<namespaces>
				<add namespace="EPiServer.Framework.Web.Mvc.Html" />
				<add namespace="EPiServer.Shell.Web.Mvc.Html" />
				<add namespace="System.Collections.Generic" />
				<add namespace="System.Linq" />
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<properties>
				<add name="Address" type="System.String" />
				<add name="ClientToolsActivationKey" type="System.String" />
				<add name="Company" type="System.String" />
				<add name="Country" type="System.String" />
				<add name="CustomExplorerTreePanel" type="System.String" />
				<add name="EditTreeSettings" type="EPiServer.Personalization.GuiSettings, EPiServer.Cms.AspNet" />
				<add name="Email" type="System.String" />
				<add name="FileManagerFavourites" type="System.Collections.Generic.List`1[System.String]" />
				<add name="FirstName" type="System.String" />
				<add name="FrameworkName" type="System.String" />
				<add name="Language" type="System.String" />
				<add name="LastName" type="System.String" />
				<add name="Locality" type="System.String" />
				<add name="Title" type="System.String" />
				<add name="ZipCode" type="System.String" />
			</properties>
			<providers>
				<clear />
				<add
					name="DefaultProfileProvider"
					applicationName="/"
					connectionStringName="EPiServerDB"
					type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				/>
			</providers>
		</profile>
		<roleManager>
			<providers>
				<clear />
			</providers>
		</roleManager>
	</system.web>
	<system.webServer>
		<caching>
			<profiles>
				<add
					duration="0.00:01:00"
					extension=".css"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
				<add
					duration="0.00:01:00"
					extension=".gif"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
				<add
					duration="0.00:01:00"
					extension=".jpeg"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
				<add
					duration="0.00:01:00"
					extension=".jpg"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
				<add
					duration="0.00:01:00"
					extension=".js"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
				<add
					duration="0.00:01:00"
					extension=".png"
					kernelCachePolicy="CacheUntilChange"
					location="Any"
					policy="DontCache"
				/>
			</profiles>
		</caching>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule" />
			<add name="InitializationModule" preCondition="managedHandler" type="EPiServer.Framework.Initialization.InitializationModule, EPiServer.Framework.AspNet" />
			<add name="UrlRewriteModule" preCondition="managedHandler" type="EPiServer.Web.RoutingUrlRewriteModule, EPiServer.Cms.AspNet" />
			<add name="ShellRoutingModule" type="EPiServer.Shell.Web.Routing.ShellRoutingModule, EPiServer.Shell" />
		</modules>
		<staticContent>
			<clientCache cacheControlMaxAge="1.00:00:00" cacheControlMode="UseMaxAge" />
		</staticContent>
	</system.webServer>
</configuration>