<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" requirePermission="false" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			<section name="pages" requirePermission="false" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		</sectionGroup>
	</configSections>
	<system.web>
		<pages
			pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
			validateRequest="false"
		>
			<controls>
				<add assembly="System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" namespace="System.Web.Mvc" tagPrefix="mvc" />
			</controls>
		</pages>
	</system.web>
	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.7.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="System.Web.Mvc.WebViewPage">
			<namespaces>
				<add namespace="EPiServer" />
				<add namespace="EPiServer.Core" />
				<add namespace="EPiServer.Editor" />
				<add namespace="EPiServer.ServiceLocation" />
				<add namespace="EPiServer.Shell.Web.Mvc.Html" />
				<add namespace="EPiServer.Web.Mvc.Html" />
				<!--
					<add namespace="MyCompany.MyWebApplication.Models.Forms" />
				-->
				<add namespace="MyCompany.MyWebApplication.Models" />
				<add namespace="MyCompany.MyWebApplication.Models.Blocks" />
				<add namespace="MyCompany.MyWebApplication.Models.Navigation" />
				<add namespace="MyCompany.MyWebApplication.Models.Navigation.Extensions" />
				<add namespace="MyCompany.MyWebApplication.Models.Pages" />
				<add namespace="MyCompany.MyWebApplication.Models.ViewModels" />
				<add namespace="MyCompany.MyWebApplication.Models.ViewModels.Internal" />
				<add namespace="MyCompany.MyWebApplication.Models.ViewModels.Shared" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.webServer>
		<handlers>
			<remove name="BlockViewHandler" />
			<add
				name="BlockViewHandler"
				path="*"
				preCondition="integratedMode"
				type="System.Web.HttpNotFoundHandler"
				verb="*"
			/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
</configuration>