@page
@model PageModel
<div class="alert alert-info">
	<h2>Danger</h2>
	<p>Information</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-success">
	<h2>Danger</h2>
	<p>Information</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-warning">
	<h2>Danger</h2>
	<p>Information</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-danger">
	<h2>Danger</h2>
	<p>Information</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>