@page
@model PageModel
<div class="alert alert-info">
	<h2>Info</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-success">
	<h2>Success</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-warning">
	<h2>Warning</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>
<div class="alert alert-danger">
	<h2>Danger</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	<ul>
		<li>First</li>
		<li>Second</li>
		<li>Third</li>
	</ul>
</div>